body {
    background-image: url("https://thehighdefinitionwallpapers.com/blog/image/3840/2160/Abstract-Abstract-Blur-colorful-background-abstract.jpg");
    background-size: cover;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    color: darkgoldenrod;
}

.w3-row-padding {
	padding: 10px 8px
}

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

.w3-margin-bottom {
	margin-bottom: 16px !important
}



.w3-quarter {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}

.w3-red {
	color: #fff !important;
	background-color: #f44336 !important
}

.w3-padding-16 {
	padding-top: 20px !important;
	padding-bottom: 20px !important
}

.table-border {
	border: 2px solid black;
}

	.table-border th, td {
		border: 2px solid black;
	}


.map-container-5 {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

    .map-container-5 iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	height: 60px;
	line-height: 60px; 
}
