<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAD_drug_report</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="https://deyoungmortgage.com/wp-content/uploads/2016/09/Icon-De-Young-SmartHome.svg" width="40" height="40" title="Home" alt="Airport Dictionary"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/JsonData"><img src="http://iconsetc.com/icons-watermarks/flat-circle-white-on-black/mimetype/mimetype_document-json/mimetype_document-json_flat-circle-white-on-black_512x512.png" width="40" height="40" title="JSON Data" alt="Ways"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Brewery"><img src="https://visualpharm.com/assets/703/Rest%20Api-595b40b65ba036ed117d1207.svg" width="40" height="40" title="Consume Data" alt="Consume JsonData"></a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/DataView"><img src="https://freeiconshop.com/wp-content/uploads/edd/html-flat.png" width="40" height="40" title="All Data" alt="Data View"></a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  href="/DrugINcidents/Index"><img src="https://www.ideagen.com/images/policy-mgmt-icons/create-policy-icon.svg" width="40" height="40" title="Report Drug Incident" alt="Report"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - CAD_drug_report - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
