@page
@model CAD_drug_report.Pages.DrugINcidents.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReportDrugIncidents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReportDrugIncidents.Id" />
            <div class="form-group">
                <label asp-for="ReportDrugIncidents.Agency" class="control-label"></label>
                <input asp-for="ReportDrugIncidents.Agency" class="form-control" />
                <span asp-validation-for="ReportDrugIncidents.Agency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDrugIncidents.IncidentTypeID" class="control-label"></label>
                <input asp-for="ReportDrugIncidents.IncidentTypeID" class="form-control" />
                <span asp-validation-for="ReportDrugIncidents.IncidentTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDrugIncidents.Neighborhood" class="control-label"></label>
                <input asp-for="ReportDrugIncidents.Neighborhood" class="form-control" />
                <span asp-validation-for="ReportDrugIncidents.Neighborhood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDrugIncidents.PriorityColor" class="control-label"></label>
                <input asp-for="ReportDrugIncidents.PriorityColor" class="form-control" />
                <span asp-validation-for="ReportDrugIncidents.PriorityColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDrugIncidents.Latitude" class="control-label"></label>
                <input asp-for="ReportDrugIncidents.Latitude" class="form-control" />
                <span asp-validation-for="ReportDrugIncidents.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDrugIncidents.Longitude" class="control-label"></label>
                <input asp-for="ReportDrugIncidents.Longitude" class="form-control" />
                <span asp-validation-for="ReportDrugIncidents.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
